.events-add {
  .bar-subheader {
    top: 0px;
  }
  #insert-event {
    padding-top: 43px;
    .list {
      .item-stacked-label {
        background-color: white;
      }
      .item-input {
        input {
          &.error {
            &::-webkit-input-placeholder {
              color: #ef473a;
            }
          }
        }
      }
      .description {
        #event-description {
          height: 100px;
          resize: none;
          &.error {
            &::-webkit-input-placeholder {
              color: #ef473a;
            }
          }
        }
        .char-count {
          position: absolute;
          right: 5px;
          margin-top: 85px;
          font-size: 14px;
          color: lighten(#444, 20%);
          &.error {
            color: #ef473a;
          }
        }
      }
      .address {
        i {
          margin-right: 5px;
        }
      }
    }
    .upload-avatar {
      min-height: 17vh;
      justify-content: center;
      padding: 0px;
      flex-direction: column;
      padding-top: 5px;
      #create-avatar {
        display: none;
      }
      i {
        font-size: 25px;
      }
      #uploaded-image {
        max-width: 17vh;
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: 17vh;
      }
    }
    #insert-event-submit {
      width: 100%;
    }
  }
}
