nav.bar-header.bar-light {
  height: 40px;
  position: fixed !important;
  top: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    width: 25px;
  }
  a {
    text-decoration: none;
  }
  .ion-ios-person-outline {
    font-size: 30px;
    // color: $brand-color;
  }
  .js-logout {
    display: none;
  }
  .title {
    width: 90px;
    position: static !important;
    color: $brand-color;
  }
  .ion-ios-list-outline {
    font-size: 27px;
    width: 25px;
    margin-top: 2px;
    cursor: pointer;
    // color: $brand-color;
  }
}
.event-chats {
  .bar-subheader {
    top: 40px;
    position: fixed;
  }
  ul {
    margin-top: 44px;
    padding-bottom: 92px;
    .list {
      margin-bottom: 0px;
      // .chat-message {
      //   float: left;
      //   clear: both;
      //   &.owned {
      //     float: right;
      //     clear: both;
      //   }
      // }
      .message-time {
        position: absolute;
        top: calc(50% - 10px);
        z-index: 2;
        right: 5px;
        margin-right: -130px;
        transition: margin-right 0.4s ease;
        &.show {
          margin-right: 0px;
        }
      }
      .chat-message {
        margin-left: 0px;
        transition: margin-left 0.4s ease;
        padding: 7px;
        border: none;
        h2 {
          font-size: 14px;
          color: #cc1d63;
        }
        p {
          padding-left: 10px;
          border-left: 2px solid #cc1d63;
          color: #111;
          font-size: 16px;
          overflow: visible;
          text-overflow: inherit;
          white-space: normal;
        }
        &.show {
          margin-left: -5px;
        }
        &.owned {
          h2 {
            color: #387ef5;
            text-align: right;
          }
          p {
            border-right: 2px solid #387ef5;
            text-align: right;
            padding-left: 0px;
            padding-right: 10px;
            border-left: none;
            &.long {
              text-align: left;
            }
          }
        }
      }
    }
  }
  #send-message {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    .item {
      padding: 11px 52px 11px 16px;
      #message-message {
        resize: none;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 2px;
      margin-top: -33px;
      z-index: 2;
      font-size: 15px;
    }
  }
}
