.events-details {
  position: fixed;
  z-index: 4;
  background-color: #fbfbfb;
  width: 100%;
  .card {
    margin-top: 10px;
    .item-body {
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        .full-image {
          max-width: 100%;
          max-height: 30vh;
          width: auto;
        }
      }
    }
  }
  button {
    width: 100%;
  }
}
