.profile {
  .bar-subheader {
    top: 0px;
  }
  .list {
    margin-top: 43px;
    .item-thumbnail-left {
      h2 {
        margin-top: 27px;
        font-size: 21px;
      }
    }
  }
  #logout {
    width: 100%;
  }
}
