$brand-color: #379745;

body {
  background-color: #fbfbfb;
}
nav.bar-header.bar-light {
  height: 40px;
  position: fixed !important;
  top: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    width: 25px;
  }
  a {
    text-decoration: none;
  }
  .ion-ios-person-outline {
    font-size: 30px;
    // color: $brand-color;
  }
  .js-logout {
    display: none;
  }
  .title {
    width: 90px;
    position: static !important;
    color: $brand-color;
  }
  .ion-ios-plus-outline {
    font-size: 27px;
    width: 25px;
    // color: $brand-color;
  }
}
#content-container {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  > div {
    height: 100%;
    .page {
      height: 100%;
      max-width: 100%;
    }
  }
}
#user-events {
  position: fixed;
  z-index: 9;
  left: 45px;
  top: 6px;
  a {
    font-size: 26px;
  }
}
#auth-header {
  text-align: center;
  color: $brand-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin-bottom: 0px;
    margin-top: -13%;
    color: $brand-color;
  }
  img {
    max-width: 80%;
    margin-top: -20px;
  }
  // &.create {
  //   margin-top: 20px;
  //   img {
  //     max-width: 20%;
  //   }
  //   h1 {
  //     display: none;
  //   }
  // }
}
